{% extends 'base.html.twig' %}

{% block body %}
<h1>Student's Page</h1>
{# <h1>Recruiter page</h1> #}
<h1>This is home page.</h1>

<li>
  <a href="/{{app.user ? 'logout':'login'}}">
    {{app.user ? 'Logout':'Login'}}
  </a>
</li>

<li>
  <a href="/student/create_profile/{{userId}}">Create Profile</a>
  <a href="/student/profile/{{userId}}">Profile</a>
  <a href="/student/eligible_exam_list/{{userId}}">Exam List</a>
  <a href="#">Result</a>
</li>
{% endblock %}
